* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    border: solid black 1px;
    height: 4rem;
    width: 35rem;
    justify-content: flex-start;
    align-items: center;
}

.header {
    margin: 1rem;
    display: flex;
}

.element {
    display: flex;
    margin-right: 3rem;
}

.element div {
    margin-right: 5px;
}