.statusActive {
    border: solid black 1px;
    background: rgb(24, 151, 24);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.statusInactive {
    border: solid black 1px;
    background: none;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.statusUnavailable {
    border: solid black 1px;
    background: rgb(230, 0, 0);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}
